*{
    margin: 0;
    padding: 0;
}


container_app{
    
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit:contain; */
    /* background-position: center; */
    background-attachment: fixed;
}